<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.stock.mapper.StockOuterMarketIndexInfoMapper">

    <resultMap id="BaseResultMap" type="com.itheima.stock.pojo.StockOuterMarketIndexInfo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="marketCode" column="market_code" jdbcType="CHAR"/>
            <result property="marketName" column="market_name" jdbcType="VARCHAR"/>
            <result property="curPoint" column="cur_point" jdbcType="DECIMAL"/>
            <result property="updown" column="updown" jdbcType="DECIMAL"/>
            <result property="rose" column="rose" jdbcType="DECIMAL"/>
            <result property="curTime" column="cur_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,market_code,market_name,
        cur_point,updown,rose,
        cur_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from stock_outer_market_index_info
        where  id = #{id,jdbcType=VARCHAR} 
    </select>
    <select id="getOutStock" resultType="com.itheima.stock.common.domain.StockOutDomain">
        SELECT
            somi.market_code as code,
            somi.market_name AS name,
            somi.cur_point AS curPoint,
            somi.updown AS upDown,
            somi.rose AS rose,
            somi.cur_time AS curTime
        FROM
            stock_outer_market_index_info AS somi
        WHERE  somi.market_code in
        <foreach collection="stockIds" item="ids" open="(" close=")" separator=",">
        #{ids}
    </foreach>
             and  somi.cur_time = #{date}
        ORDER BY
            somi.cur_point DESC
        LIMIT 4

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from stock_outer_market_index_info
        where  id = #{id,jdbcType=VARCHAR} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.itheima.stock.pojo.StockOuterMarketIndexInfo" useGeneratedKeys="true">
        insert into stock_outer_market_index_info
        ( id,market_code,market_name
        ,cur_point,updown,rose
        ,cur_time)
        values (#{id,jdbcType=VARCHAR},#{marketCode,jdbcType=CHAR},#{marketName,jdbcType=VARCHAR}
        ,#{curPoint,jdbcType=DECIMAL},#{updown,jdbcType=DECIMAL},#{rose,jdbcType=DECIMAL}
        ,#{curTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.itheima.stock.pojo.StockOuterMarketIndexInfo" useGeneratedKeys="true">
        insert into stock_outer_market_index_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="marketCode != null">market_code,</if>
                <if test="marketName != null">market_name,</if>
                <if test="curPoint != null">cur_point,</if>
                <if test="updown != null">updown,</if>
                <if test="rose != null">rose,</if>
                <if test="curTime != null">cur_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=VARCHAR},</if>
                <if test="marketCode != null">#{marketCode,jdbcType=CHAR},</if>
                <if test="marketName != null">#{marketName,jdbcType=VARCHAR},</if>
                <if test="curPoint != null">#{curPoint,jdbcType=DECIMAL},</if>
                <if test="updown != null">#{updown,jdbcType=DECIMAL},</if>
                <if test="rose != null">#{rose,jdbcType=DECIMAL},</if>
                <if test="curTime != null">#{curTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <insert id="insertAll">
        insert into stock_outer_market_index_info
        ( id,market_code,market_name
        ,cur_point,updown,rose
        ,cur_time)
        values
        <foreach collection="list" item="lis" separator=",">
            (#{lis.id,jdbcType=VARCHAR},#{lis.marketCode,jdbcType=CHAR},#{lis.marketName,jdbcType=VARCHAR}
            ,#{lis.curPoint,jdbcType=DECIMAL},#{lis.updown,jdbcType=DECIMAL},#{lis.rose,jdbcType=DECIMAL}
            ,#{lis.curTime,jdbcType=TIMESTAMP})
    </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.itheima.stock.pojo.StockOuterMarketIndexInfo">
        update stock_outer_market_index_info
        <set>
                <if test="marketCode != null">
                    market_code = #{marketCode,jdbcType=CHAR},
                </if>
                <if test="marketName != null">
                    market_name = #{marketName,jdbcType=VARCHAR},
                </if>
                <if test="curPoint != null">
                    cur_point = #{curPoint,jdbcType=DECIMAL},
                </if>
                <if test="updown != null">
                    updown = #{updown,jdbcType=DECIMAL},
                </if>
                <if test="rose != null">
                    rose = #{rose,jdbcType=DECIMAL},
                </if>
                <if test="curTime != null">
                    cur_time = #{curTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id = #{id,jdbcType=VARCHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itheima.stock.pojo.StockOuterMarketIndexInfo">
        update stock_outer_market_index_info
        set 
            market_code =  #{marketCode,jdbcType=CHAR},
            market_name =  #{marketName,jdbcType=VARCHAR},
            cur_point =  #{curPoint,jdbcType=DECIMAL},
            updown =  #{updown,jdbcType=DECIMAL},
            rose =  #{rose,jdbcType=DECIMAL},
            cur_time =  #{curTime,jdbcType=TIMESTAMP}
        where   id = #{id,jdbcType=VARCHAR} 
    </update>
</mapper>
