<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.stock.mapper.StockRtInfoMapper">

    <resultMap id="BaseResultMap" type="com.itheima.stock.pojo.StockRtInfo">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="stockCode" column="stock_code" jdbcType="CHAR"/>
        <result property="curTime" column="cur_time" jdbcType="TIMESTAMP"/>
        <result property="stockName" column="stock_name" jdbcType="VARCHAR"/>
        <result property="openPrice" column="open_price" jdbcType="DECIMAL"/>
        <result property="preClosePrice" column="pre_close_price" jdbcType="DECIMAL"/>
        <result property="curPrice" column="cur_price" jdbcType="DECIMAL"/>
        <result property="maxPrice" column="max_price" jdbcType="DECIMAL"/>
        <result property="minPrice" column="min_price" jdbcType="DECIMAL"/>
        <result property="tradeAmount" column="trade_amount" jdbcType="DECIMAL"/>
        <result property="tradeVolume" column="trade_volume" jdbcType="BIGINT"/>
    </resultMap>




    <sql id="Base_Column_List">
        id,stock_code,cur_time,
        stock_name,open_price,pre_close_price,
        cur_price,max_price,min_price,
        trade_amount,trade_volume
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from stock_rt_info
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <!--
    查询沪深两市最新交易数据
    -->
    <select id="getAllTransationData" resultType="com.itheima.stock.common.domain.StockUpdownDomain">
        select
            sri.trade_amount as tradeAmt,
            sri.pre_close_price as preClosePrice,
            (sri.max_price- sri.min_price)/sri.pre_close_price as amplitude,
            sri.stock_code as code,
            sri.stock_name as name,
            date_format(sri.cur_time,'%Y%m%d') as curDate,
            sri.trade_volume as tradeVol,
            (sri.cur_price-sri.pre_close_price) as upDown,
            (sri.cur_price- sri.pre_close_price)/sri.pre_close_price as increase,
            sri.cur_price as tradePrice
        from stock_rt_info as sri
        where sri.cur_time=#{datetime}
        order by upDown    desc
        limit 10;
    </select>

    <!--    分页查询-->
    <select id="getAllByLimt" resultType="com.itheima.stock.common.domain.StockUpdownDomain">
        SELECT sri.trade_amount                                            AS tradeAmt,
               sri.pre_close_price                                         as preClosePrice,
               sri.stock_code                                              as code,
               sri.stock_name                                              as name,
               DATE_FORMAT(sri.cur_time, '%Y%m%d')                         as curDate,
               sri.trade_volume                                            AS tradeVol,
               sri.cur_price                                               AS tradePrice,
               (sri.cur_price - sri.pre_close_price)                       AS upDown,## 涨跌
               (sri.cur_price - sri.pre_close_price) / sri.pre_close_price AS increase, ## 涨幅
               (sri.max_price - sri.min_price) / sri.pre_close_price       as amplitude ##振幅
        FROM stock_rt_info AS sri
        ORDER BY increase DESC, sri.cur_time desc
    </select>
    <select id="getStockCount" resultType="java.util.Map">
        SELECT
        COUNT(*) AS count,
        tmp.time as time
        FROM
        (
        SELECT
        ( sri.cur_price - sri.pre_close_price )/ sri.pre_close_price AS increase,
        DATE_FORMAT( sri.cur_time, '%Y-%m-%d %H:%i' ) as time
        FROM
        stock_rt_info AS sri
        WHERE
        sri.cur_time BETWEEN #{startTime}
        AND #{closeTime}
        <if test="flag==1">HAVING increase >=0.1
        </if>
        <if test="flag==0">HAVING increase &lt;=0.1
        </if>
        ) as tmp GROUP BY tmp.time ORDER BY
        tmp.time asc;

    </select>

    <!--    获取个股分时数据-->
    <select id="getStockHour" resultType="com.itheima.stock.common.domain.Stock4MinuteDomain">
        SELECT DATE_FORMAT(sri.cur_time, '%Y%m%d%i') AS date,
               sri.trade_amount                      AS tradeAmt,
               sri.stock_code                        AS code,
               sri.min_price                         AS lowPrice,
               sri.pre_close_price                   AS preClosePrice,
               sri.stock_name                        AS name,
               sri.max_price                         AS highPrice,
               sri.open_price                        as openPrice,
               sri.trade_volume                      AS tradeVol,
               sri.cur_price                         AS tradePrice
        FROM stock_rt_info AS sri
        WHERE sri.cur_time BETWEEN #{curTime}
            AND #{startTime}
          AND sri.stock_code = #{code}
    </select>

    <select id="getStockRateCount" resultType="java.util.Map">
        <![CDATA[
        SELECT tmp1.title,
               COUNT(*) AS count
        FROM (
                 SELECT CASE
                            WHEN
                                tmp.rate > 0.07 THEN'7%'
                            WHEN tmp.rate > 0.05
                                AND tmp.rate < 0.07 THEN '5~7%'
                            WHEN tmp.rate > 0.03
                                AND tmp.rate < 0.05 THEN '3~5%'
                            WHEN tmp.rate > 0
                                AND tmp.rate < 0.03 THEN '0~3%'
                            WHEN tmp.rate > - 0.03
                                AND tmp.rate < 0 THEN '-3~0%'
                            WHEN tmp.rate > - 0.05
                                AND tmp.rate < - 0.03 THEN '-5~-3%'
                            WHEN tmp.rate > - 0.07
                                AND tmp.rate < - 0.05 THEN'-7~-5%'
                            ELSE '<-7%'
                            END 'title'
                 FROM (SELECT (sri.cur_price - sri.pre_close_price) / sri.pre_close_price AS rate
                       FROM stock_rt_info AS sri
                       WHERE sri.cur_time = #{date}) AS tmp
             ) AS tmp1
        GROUP BY tmp1.title;
        ]]>
    </select>
    <select id="getTimeDay" resultType="com.itheima.stock.common.domain.Stock4EvrDayDomain">
        select
            date_format(sri2.cur_time,'%Y%m%d') as date,
            sri2.trade_amount as tradeAmt,
            sri2.stock_code as code,
            sri2.min_price as lowPrice,
            sri2.stock_name as name,
            sri2.max_price as highPrice,
            sri2.open_price as openPrice,
            sri2.trade_volume as tradeVol,
            sri2.cur_price as closePrice,
            sri2.pre_close_price as preClosePrice
        from
            stock_rt_info as sri2
        where sri2.stock_code=#{code}  and sri2.cur_time in (
            select
                max( sri.cur_time ) as closeDate
            from
                stock_rt_info as sri
            where
                sri.stock_code =#{code}
              and sri.cur_time between #{toDate} and #{date}
            group by
                date_format(sri.cur_time, '%Y%m%d')
        )
        order by sri2.cur_time;

    </select>

<!--    个股周K线-->
    <select id="getIndividualStocksByWeek" resultType="java.util.Map">
        SELECT
            tmp.stock_code,
            tmp.maxPrice,
            tmp.minPrice,
            tmp.avgPrice,
            sri.cur_price AS openPrice,
            sri2.cur_price AS closePrice,
            DATE_FORMAT(tmp.mxTime,'%Y%m%d') as mxTime
        FROM
            (
                SELECT
                    stock_code,
                    DATE_FORMAT( cur_time, '%Y-%u' ) AS weeks,
                    avg( cur_price ) AS avgPrice,
                    min( cur_price ) AS minPrice,
                    MAX( cur_time ) AS mxTime,
                    MIN( cur_time ) AS miTime,
                    max( cur_price ) AS maxPrice
                FROM
                    stock_rt_info
                WHERE
                    stock_code = #{code}
                GROUP BY
                    weeks
            ) AS tmp
                INNER JOIN stock_rt_info AS sri ON tmp.stock_code = sri.stock_code
                AND sri.cur_time = tmp.miTime
                INNER JOIN stock_rt_info AS sri2 ON sri2.stock_code = tmp.stock_code
                AND sri2.cur_time = tmp.mxTime
        ORDER BY
            mxTime ASC
    </select>
    <select id="getQuotesByHour" resultType="java.util.Map">
        SELECT
            sri.pre_close_price AS preClosePrice,
            sri.open_price AS openPrice,
            sri.cur_price AS tradePrice,
            sri.max_price AS highPrice,
            sri.min_price AS lowPrice,
            sri.trade_amount AS tradeAmt,
            sri.trade_volume AS tradeVol,
            DATE_FORMAT(sri.cur_time,'%Y%m%d%H%i') AS curDate
        FROM
            stock_rt_info AS sri
        WHERE
            sri.stock_code=#{code} AND sri.cur_time=#{date}

    </select>
    <select id="getStockByNew" resultType="java.util.Map">
        SELECT
            DATE_FORMAT(sri.cur_time,'%Y%m%d%h%i') date,
            sri.trade_amount tradeAmt,
            sri.trade_volume tradeVol,
            sri.cur_price  tradePrice
        FROM
            stock_rt_info sri
        WHERE
            sri.stock_code =#{stockCode}
          AND sri.cur_time = #{date} ORDER BY  sri.cur_time desc;
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from stock_rt_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.itheima.stock.pojo.StockRtInfo"
            useGeneratedKeys="true">
        insert into stock_rt_info
        ( id, stock_code, cur_time
        , stock_name, open_price, pre_close_price
        , cur_price, max_price, min_price
        , trade_amount, trade_volume)
        values ( #{id,jdbcType=VARCHAR}, #{stockCode,jdbcType=CHAR}, #{curTime,jdbcType=TIMESTAMP}
               , #{stockName,jdbcType=VARCHAR}, #{openPrice,jdbcType=DECIMAL}, #{preClosePrice,jdbcType=DECIMAL}
               , #{curPrice,jdbcType=DECIMAL}, #{maxPrice,jdbcType=DECIMAL}, #{minPrice,jdbcType=DECIMAL}
               , #{tradeAmount,jdbcType=DECIMAL}, #{tradeVolume,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.itheima.stock.pojo.StockRtInfo"
            useGeneratedKeys="true">
        insert into stock_rt_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="stockCode != null">stock_code,</if>
            <if test="curTime != null">cur_time,</if>
            <if test="stockName != null">stock_name,</if>
            <if test="openPrice != null">open_price,</if>
            <if test="preClosePrice != null">pre_close_price,</if>
            <if test="curPrice != null">cur_price,</if>
            <if test="maxPrice != null">max_price,</if>
            <if test="minPrice != null">min_price,</if>
            <if test="tradeAmount != null">trade_amount,</if>
            <if test="tradeVolume != null">trade_volume,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
            <if test="stockCode != null">#{stockCode,jdbcType=CHAR},</if>
            <if test="curTime != null">#{curTime,jdbcType=TIMESTAMP},</if>
            <if test="stockName != null">#{stockName,jdbcType=VARCHAR},</if>
            <if test="openPrice != null">#{openPrice,jdbcType=DECIMAL},</if>
            <if test="preClosePrice != null">#{preClosePrice,jdbcType=DECIMAL},</if>
            <if test="curPrice != null">#{curPrice,jdbcType=DECIMAL},</if>
            <if test="maxPrice != null">#{maxPrice,jdbcType=DECIMAL},</if>
            <if test="minPrice != null">#{minPrice,jdbcType=DECIMAL},</if>
            <if test="tradeAmount != null">#{tradeAmount,jdbcType=DECIMAL},</if>
            <if test="tradeVolume != null">#{tradeVolume,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <insert id="insertStock">
        insert into stock_rt_info
        ( id, stock_code, cur_time
        , stock_name, open_price, pre_close_price
        , cur_price, max_price, min_price
        , trade_amount, trade_volume)
        values <foreach collection="infos" item="info" separator=",">
        ( #{info.id,jdbcType=VARCHAR}, #{info.stockCode,jdbcType=CHAR}, #{info.curTime,jdbcType=TIMESTAMP}
        , #{info.stockName,jdbcType=VARCHAR}, #{info.openPrice,jdbcType=DECIMAL}, #{info.preClosePrice,jdbcType=DECIMAL}
        , #{info.curPrice,jdbcType=DECIMAL}, #{info.maxPrice,jdbcType=DECIMAL}, #{info.minPrice,jdbcType=DECIMAL}
        , #{info.tradeAmount,jdbcType=DECIMAL}, #{info.tradeVolume,jdbcType=BIGINT})
    </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.itheima.stock.pojo.StockRtInfo">
        update stock_rt_info
        <set>
            <if test="stockCode != null">
                stock_code = #{stockCode,jdbcType=CHAR},
            </if>
            <if test="curTime != null">
                cur_time = #{curTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stockName != null">
                stock_name = #{stockName,jdbcType=VARCHAR},
            </if>
            <if test="openPrice != null">
                open_price = #{openPrice,jdbcType=DECIMAL},
            </if>
            <if test="preClosePrice != null">
                pre_close_price = #{preClosePrice,jdbcType=DECIMAL},
            </if>
            <if test="curPrice != null">
                cur_price = #{curPrice,jdbcType=DECIMAL},
            </if>
            <if test="maxPrice != null">
                max_price = #{maxPrice,jdbcType=DECIMAL},
            </if>
            <if test="minPrice != null">
                min_price = #{minPrice,jdbcType=DECIMAL},
            </if>
            <if test="tradeAmount != null">
                trade_amount = #{tradeAmount,jdbcType=DECIMAL},
            </if>
            <if test="tradeVolume != null">
                trade_volume = #{tradeVolume,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.itheima.stock.pojo.StockRtInfo">
        update stock_rt_info
        set stock_code      = #{stockCode,jdbcType=CHAR},
            cur_time        = #{curTime,jdbcType=TIMESTAMP},
            stock_name      = #{stockName,jdbcType=VARCHAR},
            open_price      = #{openPrice,jdbcType=DECIMAL},
            pre_close_price = #{preClosePrice,jdbcType=DECIMAL},
            cur_price       = #{curPrice,jdbcType=DECIMAL},
            max_price       = #{maxPrice,jdbcType=DECIMAL},
            min_price       = #{minPrice,jdbcType=DECIMAL},
            trade_amount    = #{tradeAmount,jdbcType=DECIMAL},
            trade_volume    = #{tradeVolume,jdbcType=BIGINT}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>
